.epc-widget-item {
  padding: 8px;
  .epc-widget-item-label {
    white-space: nowrap;
    width: 80px;
  }
  .epc-widget-item-default {
    display: flex;
    align-items: center;
  }
  .epc-widget-item-full {
    display: block;
    .epc-widget-item-label {
      display: block;
    }
  }
}
.ivu-form-item {
  margin-bottom: 0;
}
