.epc-widget-item {
  transition: 0.3s ease background-color, 0.3s ease border-color;
  position: relative;
  user-select: none;
  &:hover {
    background-color: fade-out(#205dd9, 0.8);
    .epc-widget-item-name {
      display: inline-block;
    }
  }
  .epc-widget-item-name {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    display: none;
  }
}
.epc-widget-btn {
  position: absolute;
  bottom: -5px;
  z-index: 5;
  display: none;
  width: 30px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #666;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  &.epc-widget-btn-delete {
    cursor: pointer;
    right: 0;
    color: #ea4b23;
  }
  &.epc-widget-btn-clone {
    cursor: pointer;
    right: 34px;
    font-weight: bold;
    color: blue;
  }
  &.epc-widget-btn-move {
    cursor: move;
    right: 68px;
    font-weight: bold;
    color: blue;
  }
}
.epc-widget-selected {
  background-color: fade-out(#205dd9, 0.8);
  > .epc-widget-btn-box > .epc-widget-btn {
    display: block;
  }
}
.epc-widget-grid-placeholder {
  height: 46px;
  background: rgba(10, 19, 37, 0.05);
  border: 1px dashed #ced0d3;
  text-align: center;
  line-height: 46px;
  padding: 0;
}
