.ep-header {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #ddd;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  .ep-header-left {
    font-weight: bold;
    font-size: 14px;
    flex: 1;
  }

  .ep-header-center {
    text-align: center;
    flex: 1;
  }

  .ep-header-right {
    text-align: right;
    flex: 1;
  }
}